<div class="container m-3 mt-5">
  <div class="d-flex">
    <button class="btn btn-primary shadow rounded p-2 py-1" (click)="mergeMapFunc()">
      mergeMap
    </button>

    <button class="btn btn-primary shadow rounded p-2 py-1 mx-3" (click)="concatMapFunc()">
      concatMap
    </button>
  </div>

  <div class="d-flex my-3">
    <button class="btn btn-danger shadow rounded p-2 py-1" (click)="exhaustMapFunc()">
      exhaustMap
    </button>

    <button class="btn btn-danger shadow rounded p-2 py-1 mx-3" (click)="switchMapFunc()">
      switchMap
    </button>
  </div>

  <div>
    <button class="btn btn-success shadow rounded p-2 py-1" (click)="forkJoinFunc()">
      forkJoin
    </button>
  </div>

  <div class="mt-5">
    <i>Open console and hit each button to see the apporpriate behaviour,
      <br>
      (NOTE*) order of files are = [ file1, file2, file3 ]
    </i>
  </div>
</div>
